<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!--script type="text/javascript" src="/font-awesome/5.6.1/js/all.min.js"></script-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-image">
                    <ul class="nav navbar navbar-expand-lg bg-nav" style="list-style-type: none;">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <% if(user == undefined) { %>
                            <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <header>
                        <h1>Login using one of the following providers:</h1>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br/><br/>
                    <a class="google-button" href="/auth/google">Google+</a>
                    <br/><br/>
                    <a class="gx-button" href="/auth/gx">Gx</a>
                </div>
            </div>
        </div>
    </body>
</html>
